USE [master]
GO
/****** Object:  Database [TestDataBase]    Script Date: 25.04.2023 10:51:43 ******/
CREATE DATABASE [TestDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDataBase]
GO
/****** Object:  Table [dbo].[Категории]    Script Date: 25.04.2023 10:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категории](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Категории] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продукты]    Script Date: 25.04.2023 10:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукты](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Продукты] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПродуктыКатегории]    Script Date: 25.04.2023 10:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПродуктыКатегории](
	[Product] [int] NOT NULL,
	[Category] [int] NOT NULL,
 CONSTRAINT [PK_ПродуктыКатегории] PRIMARY KEY CLUSTERED 
(
	[Product] ASC,
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Категории] ON 

INSERT [dbo].[Категории] ([id], [Name]) VALUES (1, N'Категория 1')
SET IDENTITY_INSERT [dbo].[Категории] OFF
GO
SET IDENTITY_INSERT [dbo].[Продукты] ON 

INSERT [dbo].[Продукты] ([id], [Name]) VALUES (1, N'Продукт 1')
SET IDENTITY_INSERT [dbo].[Продукты] OFF
GO
INSERT [dbo].[ПродуктыКатегории] ([Product], [Category]) VALUES (1, 1)
GO
ALTER TABLE [dbo].[ПродуктыКатегории]  WITH CHECK ADD  CONSTRAINT [FK_ПродуктыКатегории_Категории1] FOREIGN KEY([Category])
REFERENCES [dbo].[Категории] ([id])
GO
ALTER TABLE [dbo].[ПродуктыКатегории] CHECK CONSTRAINT [FK_ПродуктыКатегории_Категории1]
GO
ALTER TABLE [dbo].[ПродуктыКатегории]  WITH CHECK ADD  CONSTRAINT [FK_ПродуктыКатегории_Продукты] FOREIGN KEY([Product])
REFERENCES [dbo].[Продукты] ([id])
GO
ALTER TABLE [dbo].[ПродуктыКатегории] CHECK CONSTRAINT [FK_ПродуктыКатегории_Продукты]
GO
USE [master]
GO
